h3{
    font-size: 25px !important;
    color: black !important;
}
canvas{
    border: 4px black solid;
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

    from {box-shadow: 1px 4px 38px rgba(255, 0, 0, 0.839) ;}
    to {box-shadow: 1px 4px 38px rgb(255, 234, 0);}
    to {box-shadow: 1px 4px 38px rgb(21, 255, 0);}
    to {box-shadow: 1px 4px 38px rgb(0, 251, 255);}
    to {box-shadow: 1px 4px 38px rgb(4, 0, 255);}
    to {box-shadow: 1px 4px 38px rgb(255, 0, 234);}
  


}
